{%load static%}
<html>
<head>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    <style>

    * {
    padding: 0;
    margin: 0;
    }

    body {
    background:  url("{% static 'website/bg.png'%}"), linear-gradient(90deg, rgba(19,212,127,0.8) 0%, rgba(42,235,211,0.8) 35%, rgba(0,157,255,0.8) 100%);
    }

    header {
            height: 4em;
        }

        #logo img {
        margin-left: 1em;
        margin-top: .5em;
        height: 4em;
        }

    #wahl p{
    padding: 0 .7em;
    border-radius: 5px;
    color: rgb(0,157,255);
    background-color: white;
    }

    #wahl:hover :not(#te){
    transition: .7s;
    background-color: transparent;
    cursor: pointer;
    color: white;
    }
        nav {
            margin-top: .5em;
            margin-right: .7em;
            float: right;
            transition: .7s;
            }


        #te:hover {
            cursor: pointer;
            padding:0 .7em;
            background-color: #fff;
            border-radius: 5px;
            transition: .7s;

        }
        #te {
        padding: 0 .7em;
        }
        #te:hover p {
        color: rgb(0,157,255);
        }

        nav p {
            line-height: 2em;
            color: white;
            font-size: 30px;
            font-family: Libel;
        }
         #logo {
            float: left;
        }

        #logo p {
            font-size: 40px;
            line-height: 1.5em;
            font-family: sans-serif;
            padding-left: .5em;
            color: white;
        }

        @font-face {
        font-family: 'Libel';
        src: url("{% static 'website/libel.ttf'%}") format('truetype');
        }

        #mapid {
        width: 98%;
        margin-top: 1%;
        height: 80%;
        margin-left: 1%;
        }

        #daten {
        text-align: center;
        width: 100%;
        font-family: Libel, sans-serif;
        color: white;
        }
        #daten p {
        font-size: 35px;
        margin-left: 1.5em;
        margin-top: 1.5%;
        float: left;
        }
        a {
        text-decoration: none;
        }
    </style>
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><div id="logo"><img src="{% static "website/clim.png" %}" alt="Logo"></a></div>
        <nav><div id="te"> <a href="{% url 'agb' %}"><p>Kontakt</p></a></div></nav>
    <nav><div id="wahl"><p>Starten</p></div></nav></header>
<div id="mapid"></div>
<script>
var mymap = L.map('mapid').setView([51.505, -0.09], 13);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	maxZoom: 18,
	id: 'mapbox.streets',
	accessToken: 'pk.eyJ1IjoidGVudGFxdW9kIiwiYSI6ImNrMWRtdWFvNzAzeWszY29ncm5nM3c4bzYifQ.l6QyA7d5RyZJzGjQ7OZppw'
}).addTo(mymap);
var marker = L.marker([51.5, -0.09]).addTo(mymap);

</script>
<div id="daten"><p>Feinstaub: 123</p><p>CO: 234</p><p>Sticksoff: 345</p></div>
</body>
</html>