{% load static %}
<html>
<head>
<body>
    <header>
        <div id="logo"><img src="{% static "website/clim.png" %}" alt="Logo"></div>
        <nav> <a href="{% url 'agb' %}"><p>Kontakt</p></a></nav>
        <nav><a href="{% url 'map' %}"><p>Starten</p></a></nav>
    <div id="menuimg"><img src="menu.svg"></div></header>
    <main>
        <div id="txt">
        <div id="uber">
        <p>CLIMATE GO</p></div>
        <div class="txt"><p>
        Climate Go ist ein Gadget, welches dir ganz einfach ermöglicht die Schadstoffe in der Luft in deiner Umgebung zu analysieren. Mache den Climate Go einfach an deinem Rucksack etc. fest und starte direkt. Verbinde den Climate Go einfach mit deinem Handy und analysiere die Luft. Liefere dir spannende Rennen mit deinen Freunden und stelle fest, wie viel Gift du heute eingeatmet hast. Fange direkt unten an: </p></div></div>
        <div id="btn"><a href="{% url 'map' %}"><button>Start</button></a></div></main></body></html>




<style>

        #menuimg {
        float: right;
        margin-right: 1em;
        display: none;
        }
        #menuimg img {
        width: 25px;
        }

        @media screen and (min-width: 60em) {
        button {
        background-color: red;
        }
        }

        * {
            padding: 0;
            margin: 0;
        }

        body {
                background:  url("{% static 'website/bg.png'%}"), linear-gradient(90deg, rgba(19,212,127,0.8) 0%, rgba(42,235,211,0.8) 35%, rgba(0,157,255,0.8) 100%);

        }

        @font-face {
        font-family: 'Libel';
        src: url("{% static 'website/libel.ttf'%}") format('truetype');
        }

        header {
            height: 4em;
        }

        #logo img {
        margin-left: 1em;
        margin-top: .5em;
        height: 5em;
        }


        nav {
            margin-top: .5em;
            margin-right: 1em;
            float: right;
            padding: 0 1em;
            transition: .7s;
            }

        nav:hover {
            cursor: pointer;
            padding:0 1em;
            background-color: #fff;
            border-radius: 5px;
            transition: .7s;

        }
        nav:hover p {
        color: rgb(0,157,255);
        }

        nav p {
            line-height: 2.5em;
            color: white;
            font-size: 30px;
            font-family: Libel;
        }

        #logo {
            float: left;
        }

        #logo p {
            font-size: 40px;
            line-height: 1.5em;
            font-family: sans-serif;
            padding-left: .5em;
            color: white;
        }

        #pbild {
            float: left;
            margin-left: 1.5em;
            margin-top: 1.5em;
            background: red;
            width: 10em;
            height: 10em;
            text-align: center;
        }

        #pbild p {
            padding-top: 2em;
            color: white;
            font-family: sans-serif;
            font-size: 30px;

        }

        #uber {
            margin-top: 7em;
            margin-left: 1em;
        }

       /* #text {
            float: left;
            margin-top: 1.5em;
            margin-left: 1em;
        }
        */

        #uber p {
            font-family: Libel, sans-serif;
            font-size: 70px;
            color: #fff;
        }

        .txt {
            margin-top: 1em;
            margin-left: 15%;
            width: 70%;
            text-align: justify;
            margin-right: .5em;
        }

        .txt p {
        font-size: 25px;
        color: white;
        font-family: Libel;
        }


        #txt {
            width: 100%;
            text-align: center;
        }

        #btn {
            width: 100%;
        }

        button {
            background: transparent;
            border: 2px solid #fff;
            width: 50%;
            color: #fff;
            margin-top: 1em;
            margin-left: 25%;
            border-radius: 15px 10px;
            padding: .4em 2.7em;
            font-size: 30px;
            outline: none;
            font-weight: bold;
            font-family: Libel, sans-serif;
            transition: .5s;
        }

        button:hover {
            background: #fff;
            color: #40E2D5;
            transition: .5s;

        }
        a {
        text-decoration: none;
        }


    </style></head>
